@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using MVP_Core.Shared
@layout MainLayout

<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="container mt-5 text-center">
                <h1 class="text-danger">404 - Page Not Found</h1>
                <p class="lead">Sorry, the page you're looking for doesn't exist.</p>
                <a href="/" class="btn btn-primary mt-3">Return to Home</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>
